.container {
    display: flex;
    /* justify-content: space-between; */
    max-width: 1120px;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
  }
  
  .navigation {
    display: flex;
    list-style: none;
    align-items: flex-end;
  }
  
  .navigationItem {
    margin: 15px;
    color: #a2533e;
    font-weight: 800;
  }
  
  .navigationItem a {
    border-bottom: 1.5px solid transparent;
    color: currentColor;
    text-decoration: none;
  }
  
  .navigationItem a:hover {
    border-bottom-color: var(--primary);
    color: var(--primary);
  }
  
  .logoLink {
    display: flex;
    font-weight: var(--medium);
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    gap: var(--space-md);
  }
  

